---
import Layout from '../layouts/Layout.astro'
import Intro from '../modules/home/components/intro.astro'
import { Content } from '../modules/home/components/Content'
import type { Resources } from '../modules/home/types/home'
import type { FrontMatter, FrontMatterResource } from '../modules/shared/types/frontmatter'
import type { MarkdownInstance } from 'astro'

const allPosts = import.meta.glob('../content/posts/**/*.md', { eager: true })
const posts = Object.entries(allPosts).map(([filePath, post]: [string, any]) => {
  const slug = filePath.replace('../content/posts/', '').replace('.md', '').trim()
	const frontmatter: FrontMatter = post.frontmatter

	return {
		slug: slug,
		title: frontmatter.title,
		date: frontmatter.date,
		category: frontmatter.category,
	}
})
const categories: string[] = Array.from(
	new Map(posts.map(p => ([p.category, p.category]))).values()
)

const goResources = import.meta.glob<MarkdownInstance<FrontMatterResource>>('../content/resources/go-packages/*.md', { eager: true })
const goPackages = Object.entries(goResources).map(([filePath, pkg]) => {
	const slug = filePath.replace('../content/resources/go-packages/', '').replace('.md', '').trim()
	const frontmatter: FrontMatterResource = pkg.frontmatter

	return {
		label: frontmatter.title,
		href: `/${slug}`,
	}
})

const toolsResources = import.meta.glob('../content/resources/tools/**', { eager: true })
const tools = Object.entries(toolsResources).map(([filePath, module]: [string, any]) => {
    const slug = filePath.replace('../content/resources/tools/', '').replace(/\.(md|astro)$/, '')
      .trim()
      .toLocaleLowerCase()
    const title = module.frontmatter?.title || module.metadata?.title || slug

	return {
		label: title,
		href: `/${slug}`,
	}
})

const resources: Resources[] = [
  {
    label: "Posts",
    items: []
  },
  {
    label: "Paquetes Go",
    items: goPackages,
  },
  {
    label: "Más herramientas",
    items: tools,
  },
]
---

<Layout 
	title="Blog de Desarrollo de Software, Go y Linux"
	description="Blog de programación donde comparto mis notas, proyectos, soluciones a problemas y guías prácticas que me sirvieron y quizá también te ayuden."
	keywords="blog programación, go, golang, linux, backend, devops, tutoriales, software development"
>
	<div class="container mx-auto px-4">
		<Intro />
		<Content
			client:load
			categories={categories}
			posts={posts}
			resources={resources}
		/>
	</div>
</Layout>
