---
import '../styles/global.css'
import { ClientRouter } from 'astro:transitions'
import Header from '../modules/shared/components/Header.astro'
import Footer from '../modules/shared/components/Footer.astro'
import BackArrow from '../modules/shared/components/BackArrow.astro'
import FrontTags from '../modules/posts/components/FrontTags.astro'

interface Props {
  frontmatter: {
  	title: string
  	description: string
  	keywords: string[]
    goImport: string
    goSource: string
  }
}

const { 
	frontmatter: {
    title,
    description,
    keywords,
    goImport,
    goSource,
  }
} = Astro.props

const image = 'https://loadept.com/static/img/loadept.webp'
const canonicalURL = new URL(Astro.url.pathname, 'https://loadept.com')
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" href="/favicon.ico" sizes="any" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="canonical" href={canonicalURL} />
  	<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="description" content={description}>
		<meta name="keywords" content={keywords.join(', ')} />
		<meta name="author" content="loadept">
		<meta name="robots" content="index, follow">

		<meta property="og:site_name" content="loadept - Blog de programación">
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description}>
		<meta property="og:image" content={image}>
		<meta property="og:url" content={canonicalURL}>
		<meta property="og:type" content="website">

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image} />

    <meta name="go-import" content={goImport}>
    <meta name="go-source" content={goSource}>

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body class="min-h-screen flex flex-col">
		<Header />
			<main class="grow mt-12">
        <div class="container mx-auto px-4 max-w-4xl mb-20">
          <BackArrow text="Volver al inicio" href="/" />
          <h1 
            class="text-5xl font-bold text-[#e5c07b] mb-4"
            transition:name={`resource-${title.replace(/\//g, '-').replace(/ /g, '-')}`}
          >
            {title.toUpperCase()}
          </h1>
          <div class='flex flex-wrap items-center text-sm text-[#5c6370] mb-8 gap-y-2'>
            <FrontTags tags={keywords} />
          </div>
          <article class="prose prose-invert prose-headings:text-[#e5c07b] prose-a:text-[#61afef] max-w-none">
            <slot />
          </article>
        </div>
			</main>
		<Footer />
	</body>
</html>
